@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.arrow-down {
  --primary: theme(colors.indigo[300]); /* Tailwind ใช้สี default สำหรับ light */
  position: relative;
}

.dark .arrow-down {
  --primary: theme(colors.indigo[900]); /* Dark mode */
}

.arrow-down {
  position: relative;
  /* display: inline-block; */

}

.arrow-down::after {
  content: "";
  position: absolute;
  bottom: -45px;
  /* ความสูงของแหลมลงมาต่อกับ div */
  left: 0;
  width: 100%;
  /* กว้างเต็ม div */
  height: 45px;
  /* ปรับให้แหลมสูงขึ้น */
  background: var(--primary); /* ใช้ CSS variable */
  /* สีเดียวกับ div */
  clip-path: polygon(50% 100%, 0 0, 100% 0);

}